@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000;
  --background: #fff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-feature-settings: "ss01", "ss02", "cv01", "cv02", "cv03";
}

a {
  color: inherit;
  text-decoration: none;
}

::selection {
  background: #000;
  color: #fff;
}
